@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("http://fonts.cdnfonts.com/css/gill-sans-mt-condensed");

:root{
    --main-color:#007042;
    --black: #323232;
    --bg:#010103;
    --wt:#fff;
    --border:.1rem solid rgba(255,255,255,.3);
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--wt);
    border-radius: 5rem;
}

body{
    background: var(--wt);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color: var(--wt);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover{
    background: #015733;
    transition: all 0.5s;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; 
    left: 0; 
    right: 0;

    background: var(--wt);
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:var(--bg);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: var(--wt);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

#menu-btn{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; 

    min-height: 100vh;
    width: 100%;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 5rem;
    color: var(--black);
}

.home .content strong{
    color: var(--main-color);
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: var(--bg);
}

.home .img{
    height: 300px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; 

    min-height: 100vh;
    width: 100%;
}

.about .sec_content{
    max-width: 60rem;
}

.about .sec_content h3{
    font-size: 5rem;
    color: var(--black);
}

.about .sec_content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: var(--bg);
}

.about .img{
    height: 300px;
}

footer{
  position: relative;
  width: 100%;
  background: var(--main-color);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

footer .social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li{
  list-style: none;

}

footer .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/*  Responsividade em Breve  */
